/* base.html navigation */
#nav-base {
    display: none;
}

/* #bar-top */
.navbar-brand {
    overflow-x: hidden;
}
@media only screen and (max-width: 767px) {
    /* smaller than Bootstrap Medium */
    .navbar-brand {
        font-size: 1rem;
    }
}

/* #bar-progress */
.bg-success {
    background-color: #638D2B!important;
}

/* #bar-bottom */
.arrow {
    font-size: 3em;
}
@media only screen and (max-width: 767px) {
    /* smaller than Bootstrap Medium */
    .arrow {
        font-size: 2em;
    }
}
#bar-bottom {
    background-color: #F2F6ED;
    border-top: 2px solid #103409;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.progress {
    font-size: 1rem;
    height: 1.5rem;
}
@media only screen and (max-width: 767px) {
    /* smaller than Bootstrap Medium */
    .progress {
        font-size: 0.7rem;
        height: 1rem;
    }
}

/* pages */
html, body, #pages {
    height: 100%;
}
#pages {
    overflow-y: auto;
}
.page {
    margin-top: 3rem;
    scroll-margin: 3rem;
}
.page-image {
    height: 300px;
    margin-bottom: 3rem;
}
.page-image img {
    background-color: #e6f1dd;
    border-radius: 8px;
    max-height: 100%;
    max-width: 100%;
    opacity: 0.85;
}
.page-text {
    background-color: #e6f1dd;
    border-radius: 8px;
    font-family: "Mali", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    line-height: 1.8em;
    margin-bottom: 3rem;
    overflow-wrap: break-word;
}
@media only screen and (max-width: 767px) {
    /* smaller than Bootstrap Medium */
    .page {
        margin-top: 1rem;
        scroll-margin: 1rem;
    }
    .page-image {
        height: 100%;
        margin-bottom: 1rem;
        max-height: 300px;
    }
    .page-text {
        font-size: 1.2em;
        letter-spacing: 0.05em;
        line-height: 1.6em;
        margin-bottom: 1rem;
    }
}

.tappyWord {
    position: relative;
    display: inline-block;
    background-color: #caebb3;
    border: 2px solid #edf7e5;
    font-family: "Mali", "Lucida Sans Unicode", sans-serif;
    font-size: 1em;
    letter-spacing: 0.1em;
    line-height: 1.8em;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 0;
    padding-bottom: 1px;
    border-radius: 8px;
}

/* translation tooltip */
.tappyWord span {
    visibility: hidden;
    opacity: 0;
    background-color: #c4dab4;
    border: 2px solid #748e63;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 0;
    padding-bottom: 1px;
    border-radius: 8px;
    position: absolute;
    z-index: 1;
    bottom: 108%;
    left: 50%;
    transform: translateX(-50%);
}

/* translation tooltip arrow */
.tappyWord span::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #748e63 transparent transparent transparent;
}

.tappyWord:hover span {
    visibility: visible;
    opacity: 0.95;
    transition: opacity 0.4s;
}