p {
    background-color: #edf7e5;
    font-family: "Mali", "Lucida Sans Unicode", sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    line-height: 1.8em;
    padding: 10px;
    margin-bottom: 20px;
}

.tappyWord {
    position: relative;
    display: inline-block;
    background-color: #caebb3;
    border: 2px solid #edf7e5;
    font-family: "Mali", "Lucida Sans Unicode", sans-serif;
    font-size: 1em;
    letter-spacing: 0.1em;
    line-height: 1.8em;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 0;
    padding-bottom: 1px;
    border-radius: 8px;
}

/* translation tooltip */
.tappyWord span {
    visibility: hidden;
    opacity: 0;
    background-color: #c4dab4;
    border: 2px solid #748e63;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 0;
    padding-bottom: 1px;
    border-radius: 8px;
    position: absolute;
    z-index: 1;
    bottom: 108%;
    left: 50%;
    transform: translateX(-50%);
}

/* translation tooltip arrow */
.tappyWord span::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #748e63 transparent transparent transparent;
}

.tappyWord:hover span {
    visibility: visible;
    opacity: 0.95;
    transition: opacity 0.4s;
}