{% extends "base.html" %}
{% block title %}Log Out | Langy{% endblock %}
{% load static %}

{% block content %}

<div class="container">

    <!-- Logo -->
    <div class="row mt-5 justify-content-center">
        <div class="col-md-6 text-center">
            <img src="{% static 'images/langy.svg' %}" width="80%">
        </div>
    </div>

    <!-- Main -->
    <div class="row mt-5 justify-content-center">
        <div class="col-md-6 text-center">
            <p>You have logged out.</p>
            <p>You will be automatically redirected.</p>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-md-6 text-center">
            <a class="btn btn-success btn-lg" href="{% url 'login' %}" role="button">
                <i class="material-icons">home</i> Home
            </a>
        </div>
    </div>

</div>
  
{% endblock %}

{% block scripts %}
<script>
    window.setTimeout(function() {
        window.location.href = "{% url 'login' %}"
    }, 3000)
</script>
{% endblock %}
