{% extends "base.html" %}
{% block title %}Login | Langy{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mb-md-5 mb-4">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <!-- Logo -->
        <div class="row mt-md-5 mt-4 justify-content-center">
            <div class="col-lg-6 col-md-8 text-center">
                <img src="{% static 'images/langy.svg' %}" width="80%">
            </div>
        </div>

        <!-- Errors -->
        {% if next %}
            {% if user.is_authenticated %}
            <div class="row mt-md-5 mt-4 justify-content-center">
                <div class="col-lg-6 col-md-8 text-center alert alert-danger" role="alert">
                    Your account doesn't have access to this page.<br>
                    To proceed, please login with an account that has access.
                </div>
            </div>
            {% else %}
            <div class="row mt-md-5 mt-4 justify-content-center">
                <div class="col-lg-6 col-md-8 text-center alert alert-danger" role="alert">
                    Please login to see this page.
                </div>
            </div>
            {% endif %}
        {% endif %}

        <!-- Main -->
        <div class="row mt-md-5 mt-4 justify-content-center">
            <div class="col-lg-6 col-md-8">
                {{ form|crispy }}
            </div>
        </div>
        <div class="row mt-3 justify-content-center">
            <div class="col-lg-6 col-md-8 text-center">
                <button type="submit" class="btn btn-success btn-lg">
                    <i class="material-icons">login</i> Login
                </button>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </div>

        <!-- Other Actions -->
        <div class="row mt-4 mb-4 justify-content-center">
            <div class="col-lg-6 col-md-8 text-center">
                <a class="btn btn-secondary btn-lg" href="{% url 'users:sign_up' %}" role="button">
                    <i class="material-icons">how_to_reg</i> Sign Up
                </a>
                <br>
                <a class="btn mt-2 btn-secondary btn-lg" href="{% url 'password_reset' %}" role="button">
                    <i class="material-icons">vpn_key</i> Reset Password
                </a>
            </div>
        </div>

    </form>
</div>
  
{% endblock %}
