{% extends "base.html" %}
{% block title %}Reset Password | Langy{% endblock %}
{% load static %}

{% block content %}

<div class="container">

    <!-- Logo -->
    <div class="row mt-md-5 mt-4 justify-content-center">
        <div class="col-lg-6 col-md-8 text-center">
            <img src="{% static 'images/langy.svg' %}" width="80%">
        </div>
    </div>

    <!-- Main -->
    <div class="row mt-md-5 mt-4 justify-content-center">
        <div class="col-lg-6 col-md-8 text-center">
            <p>Instructions for password reset have been sent to your email.</p>
            <p>If nothing has arrived in a few minutes, please check your spam folder.</p>
        </div>
    </div>
    <div class="row mt-3 mb-4 justify-content-center">
        <div class="col-lg-6 col-md-8 text-center">
            <a class="btn btn-success btn-lg" href="{% url 'login' %}" role="button">
                <i class="material-icons">home</i> Home
            </a>
        </div>
    </div>

</div>
  
{% endblock %}
