{% extends "base.html" %}
{% block title %}Reset Password | Langy{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <form method="post" action="">
        {% csrf_token %}

        <!-- Logo -->
        <div class="row mt-5 justify-content-center">
            <div class="col-md-6 text-center">
                <img src="{% static 'images/langy.svg' %}" width="80%">
            </div>
        </div>

        <!-- Errors -->
        {% if form.email.errors %}
        <div class="row mt-5 justify-content-center">
            <div class="col-md-6 text-center alert alert-danger" role="alert">
                {{ form.email.errors }}
            </div>
        </div>
        {% endif %}

        <!-- Main -->
        <div class="row mt-5 justify-content-center">
            <div class="col-md-6 text-center">
                {{ form|crispy }}
            </div>
        </div>
        <div class="row mt-3 justify-content-center">
            <div class="col-md-6 text-center">
                <button type="submit" class="btn btn-success btn-lg">
                    <i class="material-icons">vpn_key</i> Reset Password
                </button>
            </div>
        </div>

        <!-- Other Actions -->
        <div class="row mt-5 justify-content-center">
            <div class="col-md-6 text-center">
                <a class="btn btn-secondary btn-lg" href="{% url 'login' %}" role="button">
                    <i class="material-icons">close</i> Cancel
                </a>
            </div>
        </div>

    </form>
</div>

{% endblock %}
