{% extends "base.html" %}
{% block title %}Reset Password | Langy{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <form method="post" action="">
        {% csrf_token %}

        <!-- Logo -->
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-5 text-center">
                <img src="{% static 'images/langy.svg' %}" width="80%">
            </div>
        </div>

        <!-- Errors -->
        {% if form.email.errors %}
        <div class="form-row mt-5 justify-content-center">
            <div class="form-group col-lg-5 text-center alert alert-danger" role="alert">
                {{ form.email.errors }}
            </div>
        </div>
        {% endif %}

        <!-- Form -->
        <div class="form-row mt-5 justify-content-center">
            <div class="form-group col-lg-5 text-center">
                {{ form|crispy }}
            </div>
        </div>
        <div class="form-row mt-3 justify-content-center">
            <div class="form-group col-lg-5 text-center">
                <input type="submit" class="btn btn-success btn-lg" value="Reset Password" />
            </div>
        </div>

        <!-- Text links -->
        <div class="form-row mt-5 justify-content-center">
            <div class="form-group col-lg-5 text-center">
                <p><a href="{% url 'login' %}">Return to login</a></p>
            </div>
        </div>

    </form>
</div>

{% endblock %}
