{% extends "base.html" %}
{% block title %}Test in progress... | Langy{% endblock %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/read.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mali">
{% endblock %}

{% block content %}

<nav id="bar-top" class="navbar sticky-top navbar-dark bg-forest">
    <span class="navbar-brand h1 mb-0">Test</span>
    <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="{% url 'wordtest:info' %}">
            <span class="d-none d-sm-inline">Quit</span> <i class="material-icons">close</i>
        </a>
    </div>
</nav>

<div id="pages">
    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-center">
            <div class="col-lg-9 col-md-10 col-12 my-auto text-center">
                {% csrf_token %}
                test
            </div>
        </div>
    </div>
</div>

<div id="bar-bottom" class="fixed-bottom">
    <div class="row">
        <!-- Arrow page navigation -->
        <div class="col-xs-auto order-first text-left">
            <button id="btn-page-prev" class="btn btn-success btn-lg px-0 py-2 m-md-3 m-2 ml-md-4 ml-4">
                <i class="material-icons arrow">chevron_left</i>
            </button>
        </div>
        <div class="col-xs-auto order-last text-right">
            <button id="btn-page-next" class="btn btn-success btn-lg px-0 py-2 m-md-3 m-2 mr-md-4 mr-4">
                <i class="material-icons arrow">chevron_right</i>
            </button>
        </div>
        <!-- Word details -->
        <div class="col my-auto text-center">
        </div>
    </div>
    <!-- Page progress bar -->
    <div class="row mx-2 mb-2">
        <div class="col my-auto p-0 progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar">
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    var current_page = 1
    var last_page = "{{ book.page_count }}"

    // Initialise popovers
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
    // Popover dismiss on next click
    $('.popover-dismiss').popover({
        trigger: 'focus'
    })

    // On page load:
    changeDisplayedPage()
    changePagesHeight()

    // On window resize:
    window.onresize = function() {changePagesHeight()}

    // Resize the container with the scrollbar which includes Book images and text
    function changePagesHeight() {
        var bars_height = $("#bar-top").outerHeight(true) + $("#bar-bottom").outerHeight(true)
        $("#pages").height($(window).height() - bars_height)
    }

    // Show a different Page of the Book
    function changeDisplayedPage() {
        // Hide all pages
        $(".page").css("display", "none")

        // Show current page and go to the top
        $("#" + current_page).show()
        document.getElementById(current_page).scrollIntoView()

        // Disable buttons based on the current page
        if (current_page == 1) {
            $("#btn-page-prev").attr("disabled", true)
        } else if (current_page == last_page) {
            $("#btn-page-next").attr("disabled", true)
        } else {
            $("#btn-page-prev").attr("disabled", false)
            $("#btn-page-next").attr("disabled", false)
        }

        // Update progress bar
        $(".progress-bar").width((current_page / last_page)*100 + "%")
        $(".progress-bar").text(current_page + "/" + last_page)
    }

    function nextPage() {
        if (current_page < last_page) {
            current_page++
            changeDisplayedPage()
        }
    }

    function prevPage() {
        if (current_page > 1) {
            current_page--
            changeDisplayedPage()
        }
    }

    // User wants to change page with buttons or left/right arrow keys
    // Buttons
    $("#btn-page-next").on("click", function() {nextPage()})
    $("#btn-page-prev").on("click", function() {prevPage()})
    // Keys
    $(document).keydown(function(e) {
        // Right arrow key: use next page button
        if (e.key == "ArrowRight") {
            $("#btn-page-next").focus()
            $("#btn-page-next").click()
        }
        // Left arrow key: use previous page button
        else if (e.key == "ArrowLeft") {
            $("#btn-page-prev").focus()
            $("#btn-page-prev").click()
        }
    })

    // User interacted with a TranslatableWord
    $(".btn-word").on("click", function() {
        // Adjust styling: from button to link appearance
        // Indicate this has been clicked on before
        $(this).css({"background":"transparent", "color":"#638D2B", "border":"1px solid transparent"})

        // Track Translation in session
        var translation_id = $(this).parent().attr("data-translation-id")
        $.ajax({
            method: "POST",
            url: "{% url 'read:session_tracking' %}",
            headers: {"X-CSRFToken": csrftoken},
            data: JSON.stringify({
                    "translation_id": translation_id
            }),
            success: function(data, textStatus, jqXHR) {},
            error: function(jqXHR, textStatus, errorThrown) {
                alert(textStatus + ": " + errorThrown)
            }
        })
    })

</script>
{% endblock %}
