{% extends "base.html" %}
{% block title %}Word Test | Langy{% endblock %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/read.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mali">
{% endblock %}

{% block content %}

<nav class="navbar sticky-top navbar-dark bg-forest">
    <span class="navbar-brand h1 mb-0">Word Test</span>
    <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="{% url 'wordtest:quit_test' langy_session.id %}">
            <span class="d-none d-sm-inline">Quit</span> <i class="material-icons">close</i>
        </a>
    </div>
</nav>

<div class="container mt-md-5 mt-4 mb-5">

    <div class="row mt-md-5 mt-4 justify-content-center">
        <div class="col-md-8 text-center">
            Translate these <b>{{ user.active_language.foreign_language }}</b> words into <b>English!</b>
        </div>
    </div>

    <div class="row mt-md-5 mt-4 justify-content-center">
        <div class="col-lg-9 col-md-10 col-12 text-center">

            <!-- Headers -->
            <div class="row bg-light border-top border-bottom p-3 justify-content-center">
                <!-- Foreign word -->
                <div class="col-5 text-center font-weight-bold">{{ user.active_language.foreign_language }} Word</div>
                <!-- English translation -->
                <div class="col-5 text-center font-weight-bold">English Translation</div>
                <!-- Feedback -->
                <!-- <div class="col-1">F</div> -->
            </div>

            <!-- Rows -->
            {% for translation in translations %}
                <div class="row row-striped border-bottom p-3 justify-content-center">
                    <!-- Foreign word -->
                    {% if user.active_language.foreign_language.uses_latin_script is False %}
                        <div class="col-2">{{ translation.foreign_word }}</div>
                        <div class="col-3">{{ translation.readable_word }}</div>
                    {% else %}
                    <div class="col-5">{{ translation.foreign_word }}</div>
                    {% endif %}

                    <!-- English translation -->
                    <div class="col-5">
                        <input type="text" placeholder="type here!"></input>
                    </div>

                    <!-- Feedback -->
                    <!-- <div class="col-1">x</div> -->
                </div>
            {% endfor %}

            <!-- Action button -->
            {% csrf_token %}
            <a class="btn btn-success btn-lg mt-md-5 mt-4" href="#" role="button">
                <i class="material-icons">spellcheck</i> Submit Answers
            </a>
        </div>
    </div>
    
</div>

{% endblock %}

{% block scripts %}
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
</script>
{% endblock %}
