
/* COLORS */
/* https://coolors.co/f2f6ed-c4dab4-748e63-103409-638d2b-218838-ffc107-f4a800 */

a {
    color: #638D2B;
}
a:hover {
    color: #218838;
    cursor: pointer;
    text-decoration: none;
}

#accordion .card-header {
    background-color: #FFF;
}
#accordion .card-header:hover {
    background-color: #F8F9FA;
}
#accordion .card-header:not(.collapsed) {
    background-color: #638D2B;
    color: #FFF;
}

.bg-forest {
    background-color: #103409;
}

.bg-success {
    background-color: #638D2B!important;
    color: #fff;
}

body {
    background-color: #F2F6ED;
}

.border-success {
    border-color: #638D2B!important;
}

.btn-success {
    background-color: #638D2B;
    border-color: #638D2B;
}
.btn-success:disabled,
.btn-success.disabled {
    background-color: #748E63;
    border-color: #748E63;
}

.container,
.container-fluid,
.modal {
    font-size: 1.3em;
    letter-spacing: 0.05em;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #F8F9FA;
}
.dropdown-item:active {
    background-color: #F8F9FA;
    color: #212529;
}
.dropdown-toggle {
    color: rgba(255,255,255,.5);
}
.dropdown-toggle:hover {
    color: #C4DAB4;
}

@media only screen and (max-width: 767px) {
    /* smaller than Bootstrap Medium */
    h1 {
        font-size: 2.3rem;
    }
    h2 {
        font-size: 1.9rem;
    }
}

input[type=text],
input[type=text]:focus,
input[type=password],
input[type=password]:focus,
input[type=email],
input[type=email]:focus {
    text-align: center;
}

i.material-icons {
    vertical-align: text-bottom;
}
label i.material-icons,
.nav-link i.material-icons {
    vertical-align: middle;
}

.list-group-item.active {
    background-color: #638D2B;
    border-color: #638D2B;
}
a.list-group-item:hover {
    background-color: #F8F9FA;
}

.su-area {
    background-color: #FFC107;
    border-radius: 5px;
    display: inline-block;
    font-size: smaller;
    margin-bottom: 10px;
    padding: 1px 6px 3px 6px;
    text-transform: uppercase;
}

textarea {
    text-align: justify;
    resize: none;
}

.text-success {
    color: #638D2B!important;
}
