
/* COLORS */
/* https://coolors.co/f2f6ed-c4dab4-748e63-103409-638d2b-218838-ffc107-f4a800 */

a {
    color: #638D2B;
}

a:hover {
    color: #218838;
    text-decoration: none;
}

body {
    background-color: #F2F6ED;
}

.btn-success {
    background-color: #638D2B;
    border-color: #638D2B;
}

.bg-forest {
    background-color: #103409;
}

.container {
    font-size: 1.3em;
    letter-spacing: 0.05em;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #F2F6ED;
}

.dropdown-item:active {
    background-color: #C4DAB4;
    color: #212529;
}

input[type=text],
input[type=text]:focus,
input[type=password],
input[type=password]:focus,
input[type=email],
input[type=email]:focus {
    text-align: center;
}

i.material-icons {
    vertical-align: text-bottom;
}
label i.material-icons {
    vertical-align: middle;
}

.su-area {
    background-color: #FFC107;
    border-radius: 5px;
    display: inline-block;
    font-size: smaller;
    margin-bottom: 10px;
    padding: 1px 6px 3px 6px;
    text-transform: uppercase;
}

textarea {
    text-align: justify;
    resize: none;
}
