{% extends "base.html" %}
{% block title %}{{ profile_user.display_name }} | Langy{% endblock %}
{% load static %}

{% block content %}

<div class="container mb-md-5 mb-4">

    {% include "users/active-language-check.html" %}

    <div class="row mt-md-5 mt-4 justify-content-center">
        <div class="col-md-8 text-center">
            <h1>{{ profile_user.display_name }}</h1>
            <span class="text-muted">Member since {{ profile_user.date_joined.date }}</span>
        </div>
    </div>

    <div class="row mt-md-5 mt-4 justify-content-center">

        <!-- Side nav -->
        <!-- Only show if this profile belongs to the logged in user -->
        {% if profile_user == user %}
        <div class="col-lg-4 mb-4">
            <div class="list-group">
                <span class="list-group-item active">
                    Profile
                </span>
                <a class="list-group-item" href="{% url 'users:select_a_language' %}">
                    Languages
                </a>
            </div>
        </div>
        {% endif %}

        <!-- Main content -->
        <div class="col-lg-8">
            <div id="accordion">
                {% for learning_language in learning_languages %}
                    <!-- One card for each LearningLanguage -->
                    <!-- Expanded if this is the profile user's active LearningLanguage -->
                    <div class="card">

                        <!-- Header -->
                        {% if learning_language.foreign_language.english_name == active_language.foreign_language.english_name %}
                            <a class="card-header" id="h-{{ learning_language.foreign_language.english_name }}" data-toggle="collapse" data-target="#c-{{ learning_language.foreign_language.english_name }}" aria-expanded="true" aria-controls="c-{{ learning_language.foreign_language.english_name }}">
                        {% else %}
                            <a class="card-header collapsed" id="h-{{ learning_language.foreign_language.english_name }}" data-toggle="collapse" data-target="#c-{{ learning_language.foreign_language.english_name }}" aria-expanded="false" aria-controls="c-{{ learning_language.foreign_language.english_name }}">
                        {% endif %}
                            <img src="{{ learning_language.foreign_language.flag.url }}" class="mr-3" width="30px">
                            {{ learning_language.foreign_language.english_name }}
                            {% if learning_language.foreign_language.english_name == active_language.foreign_language.english_name %}
                                <i class="material-icons">check_circle</i>
                            {% endif %}
                        </a>

                        <!-- Collapse -->
                        {% if learning_language.foreign_language.english_name == active_language.foreign_language.english_name %}
                            <div id="c-{{ learning_language.foreign_language.english_name }}" class="collapse show" aria-labelledby="h-{{ learning_language.foreign_language.english_name }}" data-parent="#accordion">
                        {% else %}
                            <div id="c-{{ learning_language.foreign_language.english_name }}" class="collapse" aria-labelledby="h-{{ learning_language.foreign_language.english_name }}" data-parent="#accordion">
                        {% endif %}

                            <!-- Content -->
                            <div class="card-body">
                                <div class="row">

                                    <!-- Left: Stats -->
                                    <div class="col-md-8 mt-md-0 mt-4 text-justify">
                                        Started learning on {{ learning_language.date_started.date }}
                                    </div>

                                    <!-- Right: Image, name, action buttons -->
                                    <div class="col-md-4 mb-md-3 mb-0 order-md-last order-first text-center">
                                        <!-- Image -->
                                        <img src="{{ learning_language.foreign_language.flag.url }}" class="py-3 w-50">
                                        <!-- Name -->
                                        <span class="h5">
                                            <br>
                                            {{ learning_language.foreign_language.foreign_name }}
                                            {% if learning_language.foreign_language.note %}
                                                <br>({{ learning_language.foreign_language.note }})
                                            {% endif %}
                                        </span>
                                        <!-- Action Buttons -->
                                        <!-- Only show if this profile belongs to the logged in user -->
                                        {% if profile_user == user %}
                                            <!-- Active/Learn -->
                                            {% if learning_language.foreign_language.english_name == active_language.foreign_language.english_name %}
                                                <br>
                                                <a class="btn btn-learn btn-success btn-lg mt-3 disabled" role="button">
                                                    Active
                                                </a>
                                            {% else %}
                                                <br>
                                                <a class="btn btn-success btn-lg mt-3"
                                                    href="{% url 'users:set_active_language' learning_language.foreign_language.english_name %}"
                                                    role="button">
                                                    <i class="material-icons">school</i> Learn
                                                </a>
                                            {% endif %}
                                            <!-- Delete -->
                                            <br>
                                            <a class="btn btn-delete-confirm btn-danger btn-lg mt-2"
                                                data-toggle="modal"
                                                data-target="#confirmDeleteModal"
                                                href="{% url 'users:delete_learning_language' learning_language.foreign_language.english_name %}"
                                                id="btn-delete-{{learning_language.foreign_language.english_name}}"
                                                role="button">
                                                <i class="material-icons">delete_forever</i> Delete
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                <!-- Profile user has no LearningLanguages -->
                {% empty %}
                    <div class="text-center">
                    {% if profile_user == user %}
                        You aren't learning any languages yet!
                        <br>
                        When you are, your progress will be shown here.
                        <br>
                        <a class="btn btn-success btn-lg mt-3" href="{% url 'users:select_a_language' %}">
                            Select a Language
                        </a>
                    {% else %}
                        <p>{{ profile_user.display_name }} isn't learning any languages yet!</p>
                    {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
    
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="confirmDeleteModal" caller-id="" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <p>Really delete your saved progress with this language?</p>
        <p>This is permanent and cannot be undone!</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary btn-lg" data-dismiss="modal">
            <i class="material-icons">close</i> Cancel
        </button>
        <button class="btn btn-danger btn-lg" id="btn-delete">
            <i class="material-icons">delete_forever</i> Delete
        </button>
    </div>
</div>
</div>
</div>

{% endblock %}


{% block scripts %}
<script>
    $(document).on('click', '.btn-delete-confirm', function () {
        $("#confirmDeleteModal").attr("caller-id", $(this).attr("id"));
    })
    
    $(document).on('click', '#btn-delete', function () {
        var caller = $("#btn-delete").closest(".modal").attr("caller-id");
        window.location = $("#".concat(caller)).attr("href");
    })
</script>
{% endblock %}
