{% extends "base.html" %}
{% block title %}Select a Language | Langy{% endblock %}
{% load static %}

{% block content %}

<div class="container mb-md-5 mb-4">

    <div class="row mt-md-5 mt-4 justify-content-center">
        <div class="col-md-8 text-center">
            <h1>Select a Language</h1>
        </div>
    </div>

    <div class="row mt-md-5 mt-4 justify-content-center">

        <!-- Side nav -->
        <div class="col-lg-4 mb-4">
            <div class="list-group">
                <a class="list-group-item" href="{% url 'users:profile' user.id %}">
                    Profile
                </a>
                <span class="list-group-item active">
                    Languages
                </span>
                <a class="list-group-item" href="{% url 'users:profile' user.id %}">
                    Settings
                </a>
            </div>
        </div>

        <!-- Main content -->
        <div class="col-lg-8">
            <div class="row">
                {% for foreign_language in foreign_languages %}
                    <div class="col-md-4 col-6 mb-md-4 mb-2 px-md-2 px-1">
                        <!-- Card: appearance and button changes if the user has this as their active learning language -->
                        {% if foreign_language.english_name == active_language.foreign_language.english_name %}
                            <div class="card text-center border-success">
                        {% else %}
                            <div class="card text-center">
                        {% endif %}

                            <!-- Header -->
                            {% if foreign_language.english_name == active_language.foreign_language.english_name %}
                                <div class="card-header bg-success">
                            {% else %}
                                <div class="card-header">
                            {% endif %}
                                {{ foreign_language.english_name }}
                                {% if foreign_language.english_name == active_language.foreign_language.english_name %}
                                    <i class="material-icons">check_circle</i>
                                {% endif %}
                            </div>

                            <!-- Content -->
                            <div class="card-body">
                                <!-- Image -->
                                <img src="{{ foreign_language.flag.url }}" class="pb-3 w-50">
                                <!-- Button -->
                                {% if foreign_language.english_name == active_language.foreign_language.english_name %}
                                    <br>
                                    <a class="btn btn-learn btn-success btn-lg mt-1 disabled" role="button">
                                        Active
                                    </a>
                                {% else %}
                                    <br>
                                    <a class="btn btn-learn btn-success btn-lg mt-1"
                                        href="{% url 'users:set_active_language' foreign_language.english_name %}"
                                        role="button">
                                        <i class="material-icons">school</i> Learn
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
    
</div>

{% endblock %}
