{% extends "base.html" %}
{% block title %}Sign Up | Langy{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <form method="post">
        {% csrf_token %}

        <!-- Logo -->
        <div class="row mt-md-5 mt-4 justify-content-center">
            <div class="col-lg-6 col-md-8 text-center">
                <img src="{% static 'images/langy.svg' %}" width="80%">
            </div>
        </div>

        <!-- Main -->
        <div class="row mt-md-5 mt-4 justify-content-center">
            <div class="col-lg-6 col-md-8">
                <p class="text-center">
                    If you are under 13, you need permission from a parent or guardian to use Langy.
                </p>
                {{ form|crispy }}
            </div>
        </div>
        <div class="row mt-3 justify-content-center">
            <div class="col-lg-6 col-md-8 text-center">
                <button type="submit" class="btn btn-success btn-lg">
                    <i class="material-icons">how_to_reg</i> Sign Up
                </button>
            </div>
        </div>

        <!-- Other actions -->
        <div class="row mt-4 mb-4 justify-content-center">
            <div class="col-lg-6 col-md-8 text-center">
                <a class="btn btn-secondary btn-lg" href="{% url 'login' %}" role="button">
                    <i class="material-icons">close</i> Cancel
                </a>
            </div>
        </div>

    </form>
</div>
  
{% endblock %}
