{% extends "base.html" %}
{% block title %}Book Details | Langy{% endblock %}

{% block content %}

<div class="container mt-5 mb-5">

    <div class="row mt-5 justify-content-center">
        <div class="col-8 text-center">
            <h1>{{ book.title }}</h1>
        </div>
    </div>

    <div class="row mt-1 justify-content-center">
        <div class="col text-center">
            <h2>By {{ author_name }}</h2>
        </div>
    </div>

    <div class="row mt-5 justify-content-center">
        <div class="col text-center">
            <a class="btn btn-secondary btn-lg" href="{% url 'read:my_books' %}" role="button">Back</a>
            <a class="btn btn-success btn-lg ml-3" href="{% url 'read:read' book.id %}" role="button">Read!</a>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col text-justify">
            <h3>Summary:</h3>{{ book.summary }}
        </div>
    </div>

</div>

{% endblock %}
