{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Book Details | Langy{% endblock %}</title>
    <meta charset="UTF-8">
</head>
<body>
{% block body_content %}

<header>
    <h1>{{ book.title }}</h1>
    <h2>By {{ author_name }}</h2>
</header>

<main>

    <p>
        <a href="{% url 'read:view-books' %}">Back to My Books</a><br/>
        <a href="{% url 'read:read' book.id %}">Read this book!</a>
    </p>

    <p>
        <h3>Summary:</h3>
        {{ book.summary }}
    </p>

</main>

{% endblock %}
</body>
</html>