{% extends "base.html" %}
{% block title %}Book Details | Langy{% endblock %}

{% block content %}

<div class="container mt-md-5 mt-4 mb-5">

    {% include "users/active-language-check.html" %}

    <div class="row mt-md-5 mt-4 justify-content-center">
        <div class="col-md-8 text-center">
            <h1>{{ book.title }}</h1>
            <h2>By {{ book.author.full_name }}</h2>
        </div>
    </div>

    <!-- Actions (All Users) -->
    <div class="row mt-md-5 mt-4 justify-content-center">
        <div class="col text-center">
            <a class="btn btn-secondary btn-lg" href="{% url 'read:books' %}" role="button">
                <i class="material-icons">arrow_back</i> Back
            </a>
            {% if book.has_pages %}
                <a class="btn btn-success btn-lg ml-2" href="{% url 'read:start_read' book.id %}" role="button">
                    <i class="material-icons">menu_book</i> Read!
                </a>
            {% endif %}
        </div>
    </div>

    <!-- Actions (Superusers) -->
    {% if user.is_superuser %}
        <div class="row mt-3 justify-content-center">
            <div class="col text-center">
                <a class="btn btn-warning btn-lg" href="{% url 'read:pages_manage' book.id %}" role="button">
                    Manage Pages
                </a>
                <a class="btn btn-warning btn-lg ml-2" href="{% url 'read:words_manage' book.id %}" role="button">
                    Manage Words
                </a>
            </div>
        </div>
    {% endif %}

    <!-- Details -->
    <div class="row mt-md-5 mt-4 justify-content-center">
        <div class="col-lg-8 col-md-6 mb-3 text-justify">
            <p>
                <h3>Summary</h3>
                {{ book.summary_text }}
            </p>
            <p>
                <b>Difficulty:</b>
                <span class="badge">{{ difficulty }}</span><br>
                {{ words_to_learn }} {{ user.active_language.foreign_language }} words to learn
            </p>
            <p>
                <b>Length:</b>
                <span class="badge">{{ book.length }}</span><br>
                {{ book.english_word_count }} English words in total
            </p>
        </div>
        <div class="col-lg-4 col-md-6 col-10">
            <img src="{{ book.cover.url }}" width="100%">
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script>
    // On page load:
    setBadgeColours()

    // Set background colour of badges for book difficulty and length
    function setBadgeColours() {
        bg_easy = ["Easy", "Short"]
        bg_med = ["Medium"]
        bg_hard = ["Hard", "Long"]

        $(".badge").each(function() {
            txt = $(this).text()
            if (bg_easy.indexOf(txt) != -1) {$(this).addClass("bg-easy")}
            if (bg_med.indexOf(txt) != -1) {$(this).addClass("bg-med")}
            if (bg_hard.indexOf(txt) != -1) {$(this).addClass("bg-hard")}
        })
    }
</script>
{% endblock %}
