{% extends "base.html" %}
{% block title %}Manage Pages | Langy{% endblock %}

{% block content %}

<div class="container mt-md-5 mt-4 mb-5">

    <div class="row mt-md-5 mt-4 justify-content-center">
        <div class="col-8 text-center">
            <h1>Manage Pages</h1>
            <h2>{{ book.title }}</h2>
            <span class="su-area">Superuser Area</span>
        </div>
    </div>

    <div class="row mt-md-5 mt-4 justify-content-center">
        <div class="col text-center">
            <a class="btn btn-secondary btn-lg" href="{% url 'read:details' book.id %}" role="button">
                <i class="material-icons">arrow_back</i> Back
            </a>
        </div>
    </div>

    <div class="row mt-md-5 mt-4">
        <div class="col text-justify">
            <h3>Generate Pages</h3>
            {% if book.has_pdf %}
                This Book has a PDF to generate Page objects from.
                You can edit these before saving.
                {% if book.has_pages %}
                    Saving new pages here will replace any existing Pages belonging to this Book.
                {% endif %}
                <br>
                <a class="btn btn-success btn-lg mt-3" href="{% url 'read:pages_generate' book.id %}" role="button">
                    Generate
                </a>
            {% else %}
                This Book does not have a PDF to generate Pages from.
            {% endif %}
        </div>
    </div>

    <div class="row mt-md-5 mt-4">
        <div class="col text-justify">
            <h3>Edit Pages</h3>
            {% if book.has_pages %}
                This Book has {{ book.page_count }} existing Pages.
                These can be edited on the administration website.
            {% else %}
                This Book does not have any existing Pages.
            {% endif %}
            <br>
            <a class="btn btn-secondary btn-lg mt-3" href="{% url 'admin:read_book_change' book.id %}" role="button" target="_blank">
                View Book on admin site
            </a>
        </div>
    </div>

</div>

{% endblock %}
