{% extends "base.html" %}
{% block title %}Generate Pages | Langy{% endblock %}

{% block content %}

<div class="container mt-md-5 mt-4 mb-5">

    <div class="row mt-md-5 mt-4 justify-content-center">
        <div class="col-8 text-center">
            <h1>Generate Pages</h1>
            <h2>{{ book.title }}</h2>
            <span class="su-area">Superuser Area</span>
        </div>
    </div>

    <div class="row mt-md-5 mt-4 justify-content-center">
        <div class="col text-center">
            <a class="btn btn-secondary btn-lg" href="{% url 'read:pages_manage' book.id %}" role="button">
                <i class="material-icons">close</i> Cancel
            </a>
        </div>
    </div>

    {% if book.has_pdf %}
        <div class="row mt-md-5 mt-4">
            <div class="col">
                Using PDF: <a href="{{ book.pdf.url }}" target="_blank">{{ book.pdf.name }}</a>
            </div>
        </div>
        {% if text_content %}
            <div class="row mt-md-5 mt-4">
                <div class="col-1 text-center">Page</div>
                <div class="col-10 text-center"></div>
                <div class="col-1 text-center">Include?</div>
            </div>
            {% for text in text_content %}
                <div class="row text-content-row mt-3">
                    <div class="col-1 text-center my-auto">
                        {{ forloop.counter }}
                    </div>
                    <div class="col-10 text-justify">
                        <textarea class="form-control form-control-lg" rows="6">{{ text }}</textarea>
                    </div>
                    <div class="col-1 text-center my-auto">
                        <input class="form-control form-control-sm" type="checkbox" checked>
                    </div>
                </div>
            {% endfor %}
            <div class="row mt-md-5 mt-4 justify-content-center">
                <div class="col text-center">
                    <a class="btn btn-secondary btn-lg" href="{% url 'read:pages_manage' book.id %}" role="button">
                        <i class="material-icons">close</i> Cancel
                    </a>
                    {% csrf_token %}
                    <a id="btn-save" class="btn btn-success btn-lg ml-3" role="button">
                        <i class="material-icons">save</i> Save
                    </a>
                </div>
            </div>
        {% endif %}

    {% else %}
        <div class="row mt-md-5 mt-4">
            <div class="col text-justify">
                This book does not have a PDF to generate pages from.
            </div>
        </div>
    {% endif %}

</div>

{% endblock %}

{% block scripts %}
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    $("#btn-save").on("click", function() {
        var rows = $(".text-content-row")
        var include_text_content = []

        if (rows.length > 0) {
            rows.each(function() {
                chk = $(this).find("input[type='checkbox']")
                txt = $(this).find("textarea")
                if (chk.is(":checked")) {
                    include_text_content.push(txt.val())
                }
            })
        }

        if (include_text_content.length > 0) {
            console.log(include_text_content)
            $.ajax({
                method: "POST",
                url: "{% url 'read:pages_save' book.id %}",
                headers: {"X-CSRFToken": csrftoken},
                data: JSON.stringify({
                    "text_content": include_text_content
                }),
                success: function(data, textStatus, jqXHR) {
                    window.location.href = "{% url 'read:pages_manage' book.id %}"
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ": " + errorThrown)
                }
            })
        }
    })
</script>
{% endblock %}
