{% extends "base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/read.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mali">
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{ book.title }} | Langy{% endblock %}</title>
    <meta charset="UTF-8">
</head>
<body>
{% block body_content %}

<header>
    <h1>{{ book.title }}</h1>
    <h2>By {{ author_name }}</h2>
</header>

<main>

    {% for paragraph in paragraph_list %}
        <p>{{ paragraph }}</p>
    {% endfor %}

    <p>
        {% for word in word_list %}
            {{ word.english_word }},
        {% endfor %}
    </p>

</main>

{% endblock %}
</body>
</html>