{% extends "base.html" %}
{% block title %}Translate Words | Langy{% endblock %}

{% block content %}

<div class="container mt-md-5 mt-4 mb-5">

    <div class="row mt-md-5 mt-4 justify-content-center">
        <div class="col-8 text-center">
            <h1>Translate Words</h1>
            <h2>{{ book.title }}</h2>
            <span class="su-area">Superuser Area</span>
        </div>
    </div>

    <div class="row mt-md-5 mt-4 justify-content-center">
        <div class="col text-center">
            <a class="btn btn-secondary btn-lg" href="{% url 'read:words_manage' book.id %}" role="button">
                <i class="material-icons">close</i> Cancel
            </a>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script>
    // {% csrf_token %}
    // const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
</script>
{% endblock %}
